/* line 3, ../scss/_base.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/_base.scss */
html,
body {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

/* line 18, ../scss/_base.scss */
a {
  color: inherit;
}

/* line 22, ../scss/_base.scss */
img {
  max-width: 100%;
}

/* line 26, ../scss/_base.scss */
article {
  background: linear-gradient(135deg, #eeeeee 0%, #cccccc 100%);
}

/* line 32, ../scss/_base.scss */
h1, h2, h3 {
  font-family: 'Arsenal', sans-serif;
}

/* line 36, ../scss/_base.scss */
h2 {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding: 10px 20px;
}
/* line 41, ../scss/_base.scss */
h2 a {
  text-decoration: none;
}

/* line 46, ../scss/_base.scss */
h3 {
  padding: 20px 20px 0;
}

/* line 50, ../scss/_base.scss */
p {
  line-height: 1.8em;
  padding: 20px;
  text-align: justify;
  text-indent: 10px;
}

/* line 57, ../scss/_base.scss */
p + p {
  padding-top: 0;
}

/* line 62, ../scss/_base.scss */
:not(nav) > ul, ol {
  margin: 0 20px 0 40px;
}
/* line 65, ../scss/_base.scss */
:not(nav) > ul li, ol li {
  padding-bottom: 10px;
}

/* line 70, ../scss/_base.scss */
nav ul {
  @extends .no-bullet;
}
/* line 73, ../scss/_base.scss */
nav ul a {
  text-decoration: none;
}

/* line 78, ../scss/_base.scss */
section[lang=en] {
  display: none;
}

/* line 82, ../scss/_base.scss */
footer {
  background: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

@media (max-width: 480px) {
  /* line 91, ../scss/_base.scss */
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 97, ../scss/_base.scss */
  .hidden-lg {
    display: none;
  }
}

/* line 103, ../scss/_base.scss */
.no-bullet {
  list-style: none;
}

/* line 1, ../scss/_home.scss */
.header-nav {
  padding-top: 5px;
  position: relative;
}
/* line 5, ../scss/_home.scss */
.header-nav h1 a {
  background: url(../img/upwit-logo.svg) no-repeat;
  background-size: auto 100%;
  background-position: center center;
  display: block;
  height: 60px;
  text-indent: -999em;
}
/* line 14, ../scss/_home.scss */
.header-nav button {
  background: none;
  border: none;
  left: 15px;
  padding: 6px 0;
  position: absolute;
  top: 15px;
  width: 40px;
}
/* line 23, ../scss/_home.scss */
.header-nav button:focus {
  outline-color: #b4ebed;
}
/* line 27, ../scss/_home.scss */
.header-nav button .bar {
  background: #999;
  height: 5px;
  margin: 3px 5px;
  display: block;
}
/* line 35, ../scss/_home.scss */
.header-nav .nav-links {
  background: #b4ebed;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
}
/* line 45, ../scss/_home.scss */
.header-nav .nav-links a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
/* line 51, ../scss/_home.scss */
.header-nav .nav-links li:last-child a {
  border-bottom: none;
}

/* line 59, ../scss/_home.scss */
#featured {
  height: calc(100% - 60px);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  align-items: center;
}
/* line 67, ../scss/_home.scss */
#featured a {
  display: block;
}
/* line 71, ../scss/_home.scss */
#featured h2 {
  border: none;
  padding-top: 20px;
}
/* line 77, ../scss/_home.scss */
#featured figure a {
  min-height: 180px;
}
@media (max-width: 381px) {
  /* line 77, ../scss/_home.scss */
  #featured figure a {
    min-height: 200px;
  }
}
/* line 82, ../scss/_home.scss */
#featured .inscricoes {
  background: #b4ebed;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 2em;
  color: #666;
  text-shadow: 0 1px 1px #fff;
}
/* line 94, ../scss/_home.scss */
#featured .inscricoes:hover, #featured .inscricoes:active {
  background: #f0a303;
}

/* line 101, ../scss/_home.scss */
.banner {
  min-height: 310px;
  position: relative;
}
/* line 105, ../scss/_home.scss */
.banner figcaption {
  color: #666;
  line-height: 1.5em;
  padding: 20px;
}
/* line 112, ../scss/_home.scss */
.banner button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 124, ../scss/_home.scss */
.banner .pause,
.banner .play {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 132, ../scss/_home.scss */
.banner .pause {
  border-left: 10px solid #333;
  border-right: 10px solid #333;
  height: 30px;
  width: 30px;
}
/* line 139, ../scss/_home.scss */
.banner .play {
  border-left: 25px solid #333;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

/* line 146, ../scss/_home.scss */
#home h2 {
  margin-bottom: 0;
}

/* line 150, ../scss/_home.scss */
.btn-traduzir {
  border: 0;
  background: none;
  display: block;
  margin-left: auto;
  margin-bottom: -20px;
  padding: 10px 15px;
}
/* line 158, ../scss/_home.scss */
.btn-traduzir:focus {
  outline-color: #b4ebed;
}

/* line 167, ../scss/_home.scss */
#last-editions h2 {
  margin-bottom: 20px;
}
/* line 171, ../scss/_home.scss */
#last-editions h3 {
  padding: 0;
  text-align: center;
}
/* line 175, ../scss/_home.scss */
#last-editions h3 a {
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
}
/* line 181, ../scss/_home.scss */
#last-editions h3 img {
  display: block;
  margin: 20px auto 0;
}

/* line 188, ../scss/_home.scss */
#contact {
  padding-bottom: 10px;
}
