/* line 3, ../scss/_base.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/_base.scss */
html,
body {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

@media (min-width: 992px) {
  /* line 18, ../scss/_base.scss */
  body {
    background: black;
    color: white;
    padding-left: 245px;
    max-width: 1200px;
  }
}

/* line 27, ../scss/_base.scss */
a {
  color: inherit;
}

/* line 31, ../scss/_base.scss */
img {
  max-width: 100%;
}

/* line 35, ../scss/_base.scss */
article {
  background: linear-gradient(135deg, #eeeeee 0%, #cccccc 100%);
}
@media (min-width: 992px) {
  /* line 35, ../scss/_base.scss */
  article {
    background: none;
    min-height: 100%;
  }
}

/* line 44, ../scss/_base.scss */
h1, h2, h3 {
  font-family: 'Arsenal', sans-serif;
}

/* line 48, ../scss/_base.scss */
h2 {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding: 10px 20px;
}
/* line 53, ../scss/_base.scss */
h2 a {
  text-decoration: none;
}
@media (min-width: 992px) {
  /* line 48, ../scss/_base.scss */
  h2 {
    border-bottom: none;
    font-size: 4em;
    padding: 1em 1.5em .5em;
  }
}

/* line 65, ../scss/_base.scss */
h3 {
  padding: 20px 20px 0;
}

/* line 69, ../scss/_base.scss */
p {
  line-height: 1.8em;
  padding: 20px;
  text-align: justify;
  text-indent: 10px;
}

/* line 76, ../scss/_base.scss */
p + p {
  padding-top: 0;
}

/* line 81, ../scss/_base.scss */
:not(nav) > ul, ol {
  margin: 0 20px 0 40px;
}
/* line 84, ../scss/_base.scss */
:not(nav) > ul li, ol li {
  padding-bottom: 10px;
}

/* line 89, ../scss/_base.scss */
nav ul {
  @extends .no-bullet;
}
/* line 92, ../scss/_base.scss */
nav ul a {
  text-decoration: none;
}

/* line 97, ../scss/_base.scss */
section[lang=en] {
  display: none;
}

/* line 101, ../scss/_base.scss */
footer {
  background: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}
@media (min-width: 992px) {
  /* line 101, ../scss/_base.scss */
  footer {
    background: black;
  }
}

@media (max-width: 480px) {
  /* line 114, ../scss/_base.scss */
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 120, ../scss/_base.scss */
  .hidden-lg {
    display: none;
  }
}

/* line 126, ../scss/_base.scss */
.no-bullet {
  list-style: none;
}

/* line 1, ../scss/_home.scss */
.header-nav {
  padding-top: 5px;
  position: relative;
}
@media (min-width: 992px) {
  /* line 1, ../scss/_home.scss */
  .header-nav {
    background: white;
    height: 100%;
    left: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: 245px;
  }
}
/* line 15, ../scss/_home.scss */
.header-nav h1 a {
  background: url(../img/upwit-logo.svg) no-repeat;
  background-size: auto 100%;
  background-position: center center;
  display: block;
  height: 60px;
  text-indent: -999em;
}
@media (min-width: 992px) {
  /* line 15, ../scss/_home.scss */
  .header-nav h1 a {
    margin: 40px 0;
  }
}
/* line 28, ../scss/_home.scss */
.header-nav button {
  background: none;
  border: none;
  left: 15px;
  padding: 6px 0;
  position: absolute;
  top: 15px;
  width: 40px;
}
/* line 37, ../scss/_home.scss */
.header-nav button:focus {
  outline-color: #b4ebed;
}
/* line 41, ../scss/_home.scss */
.header-nav button .bar {
  background: #999;
  height: 5px;
  margin: 3px 5px;
  display: block;
}
/* line 49, ../scss/_home.scss */
.header-nav .nav-links {
  background: #b4ebed;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
}
@media (min-width: 992px) {
  /* line 49, ../scss/_home.scss */
  .header-nav .nav-links {
    background: none;
    box-shadow: none;
    display: block;
    position: static;
  }
}
/* line 66, ../scss/_home.scss */
.header-nav .nav-links a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
@media (min-width: 992px) {
  /* line 66, ../scss/_home.scss */
  .header-nav .nav-links a {
    color: #666;
    border-bottom: none;
    padding: 15px 20px 15px 40px;
    transition: 1s;
  }
  /* line 77, ../scss/_home.scss */
  .header-nav .nav-links a:active, .header-nav .nav-links a:hover {
    background-color: #b4ebed;
    color: black;
    transition: 1s;
  }
}
/* line 86, ../scss/_home.scss */
.header-nav .nav-links li:last-child a {
  border-bottom: none;
}

/* line 94, ../scss/_home.scss */
#featured {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  height: calc(100% - 60px);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  /* line 94, ../scss/_home.scss */
  #featured {
    background: black url(../img/rodape_sobre_upwit.gif) no-repeat;
    background-position: center 90%;
    background-size: 44%;
    display: block;
    min-height: 990px;
  }
}
/* line 111, ../scss/_home.scss */
#featured a {
  display: block;
}
/* line 115, ../scss/_home.scss */
#featured h2 {
  border: none;
  padding-top: 20px;
}
/* line 121, ../scss/_home.scss */
#featured figure a {
  min-height: 180px;
}
@media (max-width: 381px) {
  /* line 121, ../scss/_home.scss */
  #featured figure a {
    min-height: 200px;
  }
}
/* line 126, ../scss/_home.scss */
#featured .inscricoes {
  background: #b4ebed;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 2em;
  color: #666;
  text-shadow: 0 1px 1px #fff;
  transition: 1s;
}
/* line 139, ../scss/_home.scss */
#featured .inscricoes:hover, #featured .inscricoes:active {
  background: #f0a303;
  color: black;
  transition: 1s;
}
@media (min-width: 992px) {
  /* line 126, ../scss/_home.scss */
  #featured .inscricoes {
    margin-left: auto;
    margin-right: 0;
    margin-top: -90px;
    width: 300px;
    position: relative;
  }
}

/* line 156, ../scss/_home.scss */
.banner {
  min-height: 310px;
  position: relative;
}
/* line 160, ../scss/_home.scss */
.banner figcaption {
  color: #666;
  line-height: 1.5em;
  padding: 20px;
}
@media (min-width: 992px) {
  /* line 160, ../scss/_home.scss */
  .banner figcaption {
    color: white;
  }
}
/* line 171, ../scss/_home.scss */
.banner button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 183, ../scss/_home.scss */
.banner .pause,
.banner .play {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 191, ../scss/_home.scss */
.banner .pause {
  border-left: 10px solid #333;
  border-right: 10px solid #333;
  height: 30px;
  width: 30px;
}
/* line 198, ../scss/_home.scss */
.banner .play {
  border-left: 25px solid #333;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

/* line 205, ../scss/_home.scss */
#home h2 {
  margin-bottom: 0;
}

/* line 209, ../scss/_home.scss */
.btn-traduzir {
  border: 0;
  background: none;
  display: block;
  margin-left: auto;
  margin-bottom: -20px;
  padding: 10px 15px;
}
/* line 217, ../scss/_home.scss */
.btn-traduzir:focus {
  outline-color: #b4ebed;
}

@media (min-width: 992px) {
  /* line 225, ../scss/_home.scss */
  #the-movement h2,
  #data h2,
  #about-us h2 {
    font-size: inherit;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  /* line 239, ../scss/_home.scss */
  #the-movement h3,
  #data h3,
  #about-us h3,
  #contact h3 {
    padding-left: 30px;
  }
  /* line 243, ../scss/_home.scss */
  #the-movement ul,
  #the-movement p,
  #data ul,
  #data p,
  #about-us ul,
  #about-us p,
  #contact ul,
  #contact p {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* line 250, ../scss/_home.scss */
  #about-us,
  #the-movement {
    background-color: white;
    color: black;
  }

  /* line 256, ../scss/_home.scss */
  #contact,
  #data {
    background-color: #202020;
  }
  /* line 260, ../scss/_home.scss */
  #contact .btn-traduzir,
  #data .btn-traduzir {
    color: white;
  }

  /* line 265, ../scss/_home.scss */
  #the-movement {
    background-image: url(../img/upwit-movement.gif);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 50%;
    padding-top: 250px;
    padding-bottom: 90px;
  }

  /* line 275, ../scss/_home.scss */
  #data {
    background-image: url(../img/upwit-data.gif);
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 36%;
    padding-top: 250px;
    padding-bottom: 90px;
  }
}
/* line 288, ../scss/_home.scss */
#last-editions h2 {
  margin-bottom: 20px;
}
/* line 292, ../scss/_home.scss */
#last-editions h3 {
  padding: 0;
  text-align: center;
}
/* line 296, ../scss/_home.scss */
#last-editions h3 a {
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
}
/* line 302, ../scss/_home.scss */
#last-editions h3 img {
  display: block;
  margin: 20px auto 0;
}

/* line 309, ../scss/_home.scss */
#contact {
  padding-bottom: 10px;
}
