.header-nav {
	padding-top: 5px;
	position: relative;

	h1 a {
		background: url(../img/upwit-logo.svg) no-repeat;
		background-size: auto 100%;
		background-position: center center;
		display: block;
		height: 60px;
		text-indent: -999em;
	}

	button {
		background: none;
		border: none;
		left: 15px;
		padding: 6px 0;
		position: absolute;
		top: 15px;
		width: 40px;

		.bar {
			background: #999;
			height: 5px;
			margin: 3px 5px;
			display: block;
		}
	}

	.nav-links {
		background: $brand-color;
		display: none;

		a {
			display: block;
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding: 10px 20px;
		}

		li:last-child a {
			border-bottom: none;
		}
	}


}

#featured {
	height: calc(100% - 60px); //header height

	a {
		display: block
	}

	h2 {
		border: none;
		padding-top: 20px;
	}

	.inscricoes {
		background: $brand-color;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		text-decoration: none;
		padding: 20px 0;
		border-radius: 5px;
		font-size: 2em;
		color: #666;
		text-shadow: 0 1px 1px #fff;

		&:hover,
		&:active {
			background: #f0a303;
		}
	}
}

.banner {
	min-height: 310px;
	position: relative;

	figcaption {
		color: #666;
		line-height: 1.5em;
		padding: 20px;
	}


	button {
	    background: none;
	    border: 0;
	    color: inherit;
	    font: inherit;
	    line-height: normal;
	    overflow: visible;
	    -webkit-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	}

	.pause,
	.play {
		display: block;
		position: absolute;
		right: 15px;
		top: 15px;
	}

	.pause {
		border-left: 10px solid #333;
		border-right: 10px solid #333;
		height: 30px;
		width: 30px;
	}

	.play {
		border-left: 25px solid #333;
		border-bottom: 15px solid transparent;
		border-top: 15px solid transparent;
	}
}

#home h2 {
	margin-bottom: 0;
}

.btn-traduzir {
	border: 0;
	background: none;
	display: block;
	margin-left: auto;
	margin-bottom: -20px;
	padding: 10px 15px;
}



#last-editions {

	h2 {
		margin-bottom: 20px;
	}

	h3 {
		padding: 0;
		text-align: center;

		a { text-decoration: none;}

		img {
			display: block;
			margin: 20px auto;
		}
	}
}





