$brand-color: #b4ebed;
$line-height: 1.8em;

//breakpoints
$xs: 'max-width: 480px';
$sm: 'min-width: 481px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';

$header-size: 245px;